# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# R environment
.Renvironment

# R session files
.rs.api/
.suspended/

# Logs
*.Rout


# R build files
.Rbuildignore
.Rcheck/

# Renv local library
renv/library/
renv/bin/
renv/activate.R

# renv snapshot file
renv.lock

# R Notebook files
.nb.html

# Packrat files
packrat/lib/
packrat/src/
packrat/bundles/
packrat/init.R

# Compiled code
*.o
*.so
*.dll

